[global]
output = results.json.log
# stores matches in JSON here

log_path = melting-cobalt.log
# Sets the log_path for the logging file

log_level = INFO
# Sets the log level for the logging
# Possible values: INFO, ERROR, DEBUG
# set to DEBUG if you are interested in seeing what comes back from nmap raw, warning is loud!

nse_script = grab_beacon_config.nse
# path to the nse script that rips down cobalt configs. This is specifically using https://github.com/whickey-r7/grab_beacon_config

searches = search.yml
# contains the different searches to run on each internet scanning service provider (eg shodan, zoomeye, security trails) when hunting for team servers.

shodan_token = TOKEN_HERE 
# shodan token for searching

zoomeye_token = TOKEN_HERE 
# zoomeye token for searching

securitytrails_token = TOKEN_HERE 
# security trails token for searching

riskiq_token = TOKEN_HERE 
# riskiq token for searching

riskiq_username = USER@NAME.HERE
# riskiq username for searching